Source: quantlibswig
Priority: extra
Maintainer: unknown <john.orford@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/quantlibswig.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/quantlibswig.git;a=summary

Package: quantlibswig-dev
Section: libdevel
Architecture: any
Depends: quantlibswigBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: quantlibswigBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
