boost*/
*ntl*/
build/
buildstatic/
release/
debug/
*.bak
*.doc
*.docx
*.docs
*.xls
*.xlsx
*.ppt
*.pptx
*.ilk
*.idb
*.pdb
*.ipch
*.lastbuildstate
*.unsuccessfulbuild
*.pcb
*.exe
*.lib
*.obj
*.log
*.tlog
*.user
*.manifest
*.sdf
*.opensdf
*.suo
*.exp
*.pyc
*.xll
