# Compilation artifacts
QuantLib*/configure
QuantLib/quantlib-config
QuantLib/libtool
QuantLib*/aclocal.m4
QuantLib*/autom4te.cache
QuantLib*/config.log
QuantLib*/config.status
QuantLib*/config/*
!QuantLib/config/Makefile.am
QuantLib/m4/*.m4
QuantLib/ql/config.hpp
QuantLib/ql/config.hpp.in
QuantLib/ql/stamp-h1
QuantLib/elc-stamp
QuantLib/quantlib.elc
QuantLib/QuantLib.spec
QuantLib/Docs/.time-stamp
QuantLib/Docs/.time-stamp-html
QuantLib/Docs/.time-stamp-online
QuantLib/Docs/.time-stamp-man
QuantLib/Docs/reference-*/
QuantLib/Docs/html/
QuantLib/Docs/man/
QuantLib-SWIG/config/
QuantLib-SWIG/CSharp/cpp/quantlib_wrap.cpp
QuantLib-SWIG/Guile/quantlib_wrap.cpp
QuantLib-SWIG/Java/bin/
QuantLib-SWIG/Java/quantlib_wrap.cpp
QuantLib-SWIG/MzScheme/quantlib_wrap.cpp
QuantLib-SWIG/OCaml/quantlib_wrap.c
QuantLib-SWIG/Perl/Makefile.quantlib
QuantLib-SWIG/Perl/QuantLib.bs
QuantLib-SWIG/Perl/blib/
QuantLib-SWIG/Perl/pm_to_blib
QuantLib-SWIG/Perl/quantlib_wrap.cpp
QuantLib-SWIG/Perl/MYMETA.yml
QuantLib-SWIG/Python/QuantLib/quantlib_wrap.cpp
QuantLib-SWIG/R/src/QuantLib.cpp
QuantLib-SWIG/R/makeRData.Rout
QuantLib-SWIG/R/src/symbols.rds
QuantLib-SWIG/R/..Rcheck
QuantLib-SWIG/Ruby/extension.mak
QuantLib-SWIG/Ruby/quantlib_wrap.cpp


# Artifacts created in multiple directories
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
*.o
*.so
.build-stamp
*.pyc
*.exe
*.dll
*.class
*~

# Outputs
QuantLib/Examples/BermudanSwaption/BermudanSwaption
QuantLib/Examples/Bonds/Bonds
QuantLib/Examples/CDS/CDS
QuantLib/Examples/CallableBonds/CallableBonds
QuantLib/Examples/ConvertibleBonds/ConvertibleBonds
QuantLib/Examples/DiscreteHedging/DiscreteHedging
QuantLib/Examples/EquityOption/EquityOption
QuantLib/Examples/FRA/FRA
QuantLib/Examples/FittedBondCurve/FittedBondCurve
QuantLib/Examples/MarketModels/MarketModels
QuantLib/Examples/Replication/Replication
QuantLib/Examples/Repo/Repo
QuantLib/Examples/Swap/SwapValuation
QuantLib/test-suite/main.cpp
QuantLib/test-suite/quantlib-test-suite
QuantLib/test-suite/quantlib-benchmark
QuantLib-SWIG/CSharp/csharp/*.cs
QuantLib-SWIG/CSharp/NQuantLib.dll
QuantLib-SWIG/Guile/QuantLib.scm
QuantLib-SWIG/Java/QuantLib.jar
QuantLib-SWIG/Java/org/
QuantLib-SWIG/OCaml/*.cmi
QuantLib-SWIG/OCaml/*.cmo
QuantLib-SWIG/OCaml/*.ml
QuantLib-SWIG/OCaml/*.mli
QuantLib-SWIG/Perl/QuantLib.pm
QuantLib-SWIG/Python/QuantLib/QuantLib.py
QuantLib-SWIG/Python/build
QuantLib-SWIG/R/R/QuantLib.R
QuantLib-SWIG/R/QuantLib.RData

