<Config>

  <prefix>ql</prefix>
  <prefixExcel>qlxl</prefixExcel>
  <libRootDirectory>qlo</libRootDirectory>
  <usingEnumerations>true</usingEnumerations>
  <usingSerialization>true</usingSerialization>
  <namespaceLibrary>QuantLib</namespaceLibrary>
  <namespaceObjects>QuantLibAddin</namespaceObjects>
  <coreCategoryPath>../../ObjectHandler/gensrc/config/categories</coreCategoryPath>
  <coreFunctions>../../ObjectHandler/gensrc/metadata/Functions/</coreFunctions>
  <addinCategoryPath>config/categories</addinCategoryPath>
  <addinFunctions>metadata/Functions/</addinFunctions>

</Config>
