<Config>

  <prefix>ql</prefix>
  <libRootDirectory>qlo</libRootDirectory>
  <usingEnumerations>true</usingEnumerations>
  <namespaceLibrary>QuantLib</namespaceLibrary>
  <namespaceObjects>QuantLibAddin</namespaceObjects>

  <categoryNames>
    <categoryName>abcd</categoryName>
    <categoryName>assetswap</categoryName>
    <categoryName>alphaform</categoryName>
    <categoryName>bonds</categoryName>
    <categoryName>calendar</categoryName>
    <categoryName>capfloor</categoryName>
    <categoryName>capletvolstructure</categoryName>
    <categoryName>cmsmarket</categoryName>
    <categoryName>couponvectors</categoryName>
    <categoryName>correlation</categoryName>
    <categoryName>curvestate</categoryName>
    <categoryName>date</categoryName>
    <categoryName>daycounter</categoryName>
    <categoryName>driftcalculators</categoryName>
    <categoryName>exercise</categoryName>
    <categoryName>evolutiondescription</categoryName>
    <categoryName>forwardrateagreement</categoryName>
    <categoryName>index</categoryName>
    <categoryName>instruments</categoryName>
    <categoryName>interpolation</categoryName>
    <categoryName>leg</categoryName>
    <categoryName>marketmodels</categoryName>
    <categoryName>marketmodelevolvers</categoryName>
    <categoryName>mathf</categoryName>
    <categoryName>ohfunctions</categoryName>
    <categoryName>optimization</categoryName>
    <categoryName>options</categoryName>
    <categoryName>payoffs</categoryName>
    <categoryName>prices</categoryName>
    <categoryName>pricingengines</categoryName>
    <categoryName>processes</categoryName>
    <categoryName>products</categoryName>
    <categoryName>randomsequencegenerator</categoryName>
    <categoryName>rangeaccrual</categoryName>
    <categoryName>ratehelpers</categoryName>
    <categoryName>schedule</categoryName>
    <categoryName>sequencestatistics</categoryName>
    <categoryName>settings</categoryName>
    <categoryName>shortratemodels</categoryName>
    <categoryName>simplecashflow</categoryName>
    <categoryName>smilesection</categoryName>
    <categoryName>statistics</categoryName>
    <categoryName>swap</categoryName>
    <categoryName>swaption</categoryName>
    <categoryName>swaptionvolstructure</categoryName>
    <categoryName>termstructures</categoryName>
    <categoryName>utilities</categoryName>
    <categoryName>vanillaswap</categoryName>
    <categoryName>volatilities</categoryName>
    <categoryName>volatility</categoryName>
    <categoryName>quotes</categoryName>
  </categoryNames>

  <!-- 
    implicit conversions: this information now appears in file
	QuantLibAddin\gensrc\metadata\Types\types.xml
  -->
  <!--implicitConversions>
    <implicitConversion>QuantLib::DiscountFactor</implicitConversion>
    <implicitConversion>QuantLib::Rate</implicitConversion>
    <implicitConversion>QuantLib::Spread</implicitConversion>
    <implicitConversion>QuantLib::Volatility</implicitConversion>
    <implicitConversion>QuantLib::Time</implicitConversion>
    <implicitConversion>QuantLib::Real</implicitConversion>
  </implicitConversions-->

</Config>
