
body {
    font-size: 12pt;
    font-family: times new roman, serif;
    text-align: justify;
    color: #000;
    background: #fff;
}

#container {
    width: 100%;
    line-height: 140%;
}

#menu {
    display: none;
}

#profiles {
    display: none;
}

#content {
    width: auto;
    margin: 0.5%;
    border: 0;
    padding: 0;
}

#header {
    margin: 0.5%;
    text-align: left;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

.footer {
    display: none;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

img.titleimage {
    margin-top: 1em;
}

h3.subtitle {
    margin-top: 2px;
}

ul.navbarlist {
    padding-left: 1em;
    margin-left: 0;
}

li.navlink {
    font-weight: normal;
    font-size: 80%;
    list-style:none;
    margin: 0;
}

.navbartitle {
    text-align: center;
}

ul.profilelist {
    width: auto;
    padding: 0;
    margin: 0;
}

li.profilelink {
    float: left;
    font-weight: normal;
    font-size: 80%;
    list-style:none;
    margin-left: 1px;
    padding: 5px;
    background-color: #fea;
    border: 1px solid gray;
}

.hide { display: none }

.addtopspace { margin-top: 2em }

.endmatter {
    font-family: times-new-roman, sans-serif;
    font-size: 60%;
    font-style: italic;
}

.button { border-style: none }

.center { text-align: center }
.left { text-align: left }
.right { text-align: right }

OL.navlinklist{
    line-height: 2.0;
    list-style-type: decimal;
}

pre {
    margin-left: 1%;
    color: green;
    background: white;
    font-family: monospace;
}

span.googlestyle {
    font-family: arial,sans-serif; font-size: 80%
}


.rule { margin-top: 2em }
.recom { }
.rationale { FONT-SIZE: 0.95em }

