
body {
    font-size: 12pt;
    font-family: times new roman, serif;
    text-align: justify;
    color: #000;
    background: #fff;
}

#header {
    margin: 0.5%;
    text-align: left;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

img.titleimage {
    margin-top: 1em;
}

div.subtitle {
    font-family: 'Merriweather Sans', serif;
    font-size: 120%;
    margin-top: 6px;
    margin-bottom: 0;
}

div.social {
    display: none;
}

#container {
    clear: both;
    width: 100%;
    line-height: 140%;
}

#menu {
    display: none;
}

#menuafter {
    display: none;
}

#profiles {
    display: none;
}

#content {
    width: auto;
    margin: 0.5%;
    border: 0;
    padding: 0;
}

h1 {
    font-family: 'Merriweather Sans', serif;
    font-size: 200%;
}

.footer {
    display: none;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

.hide { display: none }

.addtopspace { margin-top: 2em }

.button { border-style: none }

.center { text-align: center }
.left { text-align: left }
.right { text-align: right }

pre {
    margin-left: 1%;
    color: green;
    background: white;
    font-family: monospace;
}

span.googlestyle {
    display: none;
}


.rule { margin-top: 2em }
.recom { }
.rationale { FONT-SIZE: 0.95em }

