
body {
    font-family: georgia, verdana, arial, serif;
    color: #000;
    background: #fff;
}

#container {
    width: 100%;
    line-height: 130%;
}

#menu {
    float: left;
    width: 20%;
    margin: 0;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #fea;
    border: 1px solid gray;
}

#content {
    margin-left: 25%;
    padding: 1em;
    vertical-align: top;
}

.footer {
    clear: both;
    margin: 0;
    padding: .5em;
    text-align: center;
    border-top: 1px solid gray;
}

a:active { text-decoration: none }

ul.navbarlist {
    padding-left: 1em;
    margin-left: 0;
}

li.navlink {
    font-weight: normal;
    font-size: 80%;
    list-style:none;
    margin: 0;
}

.navbartitle { text-align: center }

.hide { display: none }

.addtopspace { margin-top: 2em }

.endmatter {
    font-family: times-new-roman, sans-serif;
    font-size: 60%;
    font-style: italic;
}

.button { border-style: none }

.center { text-align: center }
.left { text-align: left }
.right { text-align: right }

OL.navlinklist{
    line-height: 2.0;
    list-style-type: decimal;
}

pre {
    margin-left: 1%;
    color: green;
    background: white;
    font-family: monospace;
}

span.googlestyle {
    font-family: arial,sans-serif; font-size: 80%
}


.rule { margin-top: 2em }
.recom { }
.rationale { FONT-SIZE: 0.95em }

H1 { text-align: center; }
A.qindex {}
A.qindexRef {}
A.el { text-decoration: none; font-weight: bold }
A.elRef { font-weight: bold }
A.code {
    text-decoration: none;
    font-weight: normal;
    color: #4444ee;
    background-color: white
}
A.codeRef {
    font-weight: normal;
    color: #4444ee;
    background-color: white
}
DL.el { margin-left: -1cm }
DIV.ah {
    background-color: black;
    color: white;
    margin-bottom: 3em;
    margin-top: 3em
}
DIV.fragment {
    margin-left: 1%;
    color: green;
    background: white;
    font-family: monospace;
}
TD.md {
    background-color: #f2f2ff;
    color: black;
}
TD.mdname1 {
    background-color: #f2f2ff;
    color: black;
}
DIV.groupHeader {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold
}
DIV.groupText {
    margin-left: 16em;
    font-style: italic;
    font-size: smaller
}
FONT.keyword {
    color: #008000;
    background-color: white
}
FONT.keywordtype {
    color: #604020;
    background-color: white
}
FONT.keywordflow {
    color: #e08000;
    background-color: white
}
FONT.comment {
    color: #800000;
    background-color: white
}
FONT.preprocessor {
    color: #806020;
    background-color: white
}
FONT.stringliteral {
    color: #002080;
    background-color: white
}
FONT.charliteral {
    color: #008080;
    background-color: white
}
