
body {
    font-family: "Open Sans",trebuchet ms,luxi sans,sans-serif;
    text-align: justify;
    color: #000000;
    background: #ffffff;
}

#header {
    margin-left: 1em;
    text-align: left;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

img.titleimage {
    margin-top: 1em;
}

div.subtitle {
    font-family: 'Merriweather Sans', serif;
    font-size: 120%;
    margin-top: 6px;
    margin-bottom: 0;
}

div.social {
    float: right;
    margin-top: 1em;
    margin-right: 1em;
}

#container {
    clear: both;
    width: 100%;
    line-height: 160%;
}

#menu {
    float: right;
    width: 16em;
    margin: 0;
    margin-bottom: 1em;
    padding-right: 1em;
    line-height: 140%;
}

#menuafter {
    display: none;
}

div.categorygroup {
}

div.category {
    background-color: #ffeeaa;
    border: 1px solid gray;
    margin-bottom: 1em;
}

h3.categorytitle {
    font-family: 'Merriweather Sans', serif;
    font-size: 120%;
    text-align: center;
    margin-bottom: 0;
}

p.categorysummary {
    font-size: 90%;
    text-align: justify;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.sponsor {
    background-color: #ffffff;
    text-align: center;
    padding: 1em;
}

div.banner {
    display: none;
}

#content {
    margin-right: 18em;
    padding: 1em;
    vertical-align: top;
}

h1 {
    font-family: 'Merriweather Sans', serif;
    font-size: 200%;
}

.footer {
    clear: both;
    margin: 0;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

.hide { display: none }

.addtopspace { margin-top: 2em }

.button { border-style: none }

.center { text-align: center }
.left { text-align: left }
.right { text-align: right }

OL.navlinklist{
    line-height: 2.0;
    list-style-type: decimal;
}

pre {
    margin-left: 1%;
    color: green;
    background: white;
    font-family: monospace;
}

.fragment {
   font-family: monospace, fixed;
   font-size: 90%;
}
pre.fragment {
	border: 1px solid;
    color: black;
	background-color: #DDDDDD;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.keyword {
    font-weight: bold;
    color: red;
}
.comment {
    font-style: italic;
    color: blue;
}

span.googlestyle {
    font-family: arial,sans-serif; font-size: 80%
}


.rule { margin-top: 2em }
.recom { }
.rationale { FONT-SIZE: 0.95em }

