
body {
    font-family: trebuchet ms,luxi sans,sans-serif;
    text-align: justify;
    color: #000;
    background: #fff;
}

#container {
    width: 100%;
    line-height: 140%;
}

#menu {
    float: right;
    width: 14em;
    margin: 0;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #fea;
    border: 1px solid gray;
}

ul#profiles {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 80%;
    white-space: nowrap;
    counter-reset: profile;
}

ul#profiles li {
    display: inline;
    margin: 0 0.2em;
}

#content {
    margin-right: 17em;
    padding: 1em;
    vertical-align: top;
}

#header {
    margin-left: 1em;
    text-align: left;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
}

.footer {
    clear: both;
    margin: 0;
    padding: .5em;
    text-align: center;
    border-top: 1px solid gray;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

img.titleimage {
    margin-top: 1em;
}

h3.subtitle {
    margin-top: 2px;
    margin-bottom: 0;
}

ul.navbarlist {
    padding-left: 1em;
    margin-left: 0;
}

li.navlink {
    font-weight: normal;
    font-size: 80%;
    text-align: left;
    list-style: none;
    margin: 0;
}

.navbartitle {
    text-align: center;
}

.hide { display: none }

.addtopspace { margin-top: 2em }

.endmatter {
    font-family: times-new-roman, sans-serif;
    font-size: 60%;
    font-style: italic;
}

.button { border-style: none }

.center { text-align: center }
.left { text-align: left }
.right { text-align: right }

OL.navlinklist{
    line-height: 2.0;
    list-style-type: decimal;
}

pre {
    margin-left: 1%;
    color: green;
    background: white;
    font-family: monospace;
}

.fragment {
   font-family: monospace, fixed;
   font-size: 90%;
}
pre.fragment {
	border: 1px solid;
    color: black;
	background-color: #DDDDDD;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.keyword {
    font-weight: bold;
    color: red;
}
.comment {
    font-style: italic;
    color: blue;
}

span.googlestyle {
    font-family: arial,sans-serif; font-size: 80%
}


.rule { margin-top: 2em }
.recom { }
.rationale { FONT-SIZE: 0.95em }

