<!-- configuration file for launcher version 6 -->

<Configuration>

  <Environments>

    <Environment name="01 Production">
      <Framework>X:\Apps\Appsscript\CabotoXL\01 Production\framework\QuantLibXL.xla</Framework>
      <FrameworkVersion>6</FrameworkVersion>
      <Workbooks>X:\Apps\Appsscript\CabotoXL\01 Production\Workbooks</Workbooks>
      <HelpFile>X:\Apps\Appsscript\CabotoXL\01 Production\Docs</HelpFile>
      <UserConfigurationFile>X:\Apps\Appsscript\CabotoXL\Users\01 users.xml</UserConfigurationFile>
      <FunctionMetadata>X:\Apps\Appsscript\CabotoXL\01 Production\metadata</FunctionMetadata>
      <AddinList>
        <Addin>QuantLibXL-vc80-mt-s-0_8_0.xll</Addin>
      </AddinList>
      <StartupActions>
        <YieldCurveBootstrap>true</YieldCurveBootstrap>
        <LoadMurexYieldCurve>false</LoadMurexYieldCurve>
        <CapVolBootstrap>false</CapVolBootstrap>
        <SwapSmileBootstrap>false</SwapSmileBootstrap>
        <CalibrateCMS>false</CalibrateCMS>
        <FitCMS>false</FitCMS>
        <IndexesTimeSeries>false</IndexesTimeSeries>
        <LoadBonds>false</LoadBonds>
        <MainChecks>false</MainChecks>
        <StaticData>false</StaticData>
      </StartupActions>
    </Environment>

    <Environment name="02 Pre-Production">
      <Framework>X:\Apps\Appsscript\CabotoXL\02 Pre-Production\framework\QuantLibXL.xla</Framework>
      <FrameworkVersion>6</FrameworkVersion>
      <Workbooks>X:\Apps\Appsscript\CabotoXL\02 Pre-Production\Workbooks</Workbooks>
      <HelpFile>X:\Apps\Appsscript\CabotoXL\02 Pre-Production\Docs</HelpFile>
      <UserConfigurationFile>X:\Apps\Appsscript\CabotoXL\Users\02 users.xml</UserConfigurationFile>
      <FunctionMetadata>X:\Apps\Appsscript\CabotoXL\02 Pre-Production\metadata</FunctionMetadata>
      <AddinList>
        <Addin>QuantLibXL-vc80-mt-s-0_8_0.xll</Addin>
      </AddinList>
      <StartupActions>
        <YieldCurveBootstrap>false</YieldCurveBootstrap>
        <LoadMurexYieldCurve>false</LoadMurexYieldCurve>
        <CapVolBootstrap>false</CapVolBootstrap>
        <SwapSmileBootstrap>false</SwapSmileBootstrap>
        <CalibrateCMS>false</CalibrateCMS>
        <FitCMS>false</FitCMS>
        <IndexesTimeSeries>false</IndexesTimeSeries>
        <LoadBonds>false</LoadBonds>
        <MainChecks>false</MainChecks>
        <StaticData>false</StaticData>
      </StartupActions>
    </Environment>

    <Environment name="03 Testing">
      <Framework>X:\Apps\Appsscript\CabotoXL\03 Testing\framework\QuantLibXL.xla</Framework>
      <FrameworkVersion>7</FrameworkVersion>
      <Workbooks>X:\Apps\Appsscript\CabotoXL\03 Testing\Workbooks</Workbooks>
      <HelpFile>X:\Apps\Appsscript\CabotoXL\03 Testing\Docs</HelpFile>
      <UserConfigurationFile>X:\Apps\Appsscript\CabotoXL\Users\03 users.xml</UserConfigurationFile>
      <FunctionMetadata>X:\Apps\Appsscript\CabotoXL\03 Testing\metadata</FunctionMetadata>
      <AddinList>
        <Addin>QuantLibXL-vc80-mt-s-0_9_0.xll</Addin>
      </AddinList>
      <StartupActions>
        <YieldCurveBootstrap>false</YieldCurveBootstrap>
        <LoadMurexYieldCurve>false</LoadMurexYieldCurve>
        <CapVolBootstrap>false</CapVolBootstrap>
        <SwapSmileBootstrap>false</SwapSmileBootstrap>
        <CalibrateCMS>false</CalibrateCMS>
        <FitCMS>false</FitCMS>
        <IndexesTimeSeries>false</IndexesTimeSeries>
        <LoadBonds>false</LoadBonds>
        <MainChecks>false</MainChecks>
        <StaticData>false</StaticData>
      </StartupActions>
    </Environment>

  </Environments>

</Configuration>
