
<Configuration>

  <Environments>

    <Environment name="01 Production">
      <Framework>X:\Apps\Appsscript\CabotoXL\Rev11940\framework\QuantLibXL.xla</Framework>
      <FrameworkVersion>8</FrameworkVersion>
      <Workbooks>X:\Apps\Appsscript\CabotoXL\Rev11940\Workbooks</Workbooks>
      <HelpFile>X:\Apps\Appsscript\CabotoXL\Rev11940\Docs</HelpFile>
      <UserConfigurationFile>X:\Apps\Appsscript\CabotoXL\Users\01 users.xml</UserConfigurationFile>
      <FunctionMetadata>X:\Apps\Appsscript\CabotoXL\Rev11940\metadata</FunctionMetadata>
      <AddinList>
        <Addin>ObjectHandler-xll-vc80-mt-0_9_0.xll</Addin>
        <Addin>QuantLibXLDynamic-vc80-mt-0_9_0.xll</Addin>
        <Addin>saohxll-vc80-mt-0_1_9.xll</Addin>
      </AddinList>
      <StartupActions>
        <YieldCurveBootstrap>false</YieldCurveBootstrap>
        <CapVolBootstrap>false</CapVolBootstrap>
        <SwapSmileBootstrap>false</SwapSmileBootstrap>
        <CalibrateCMS>false</CalibrateCMS>
        <FitCMS>false</FitCMS>
        <IndexesTimeSeries>false</IndexesTimeSeries>
        <LoadBonds>false</LoadBonds>
        <MainChecks>false</MainChecks>
        <StaticData>false</StaticData>
        <SetEvaluationDate>false</SetEvaluationDate>
        <EvaluationDate>0</EvaluationDate>
        <InitSource>Excel</InitSource>
      </StartupActions>
    </Environment>

    <Environment name="02 Pre-Production">
      <Framework>X:\Apps\Appsscript\CabotoXL\Rev12288\framework\QuantLibXL.xla</Framework>
      <FrameworkVersion>9</FrameworkVersion>
      <Workbooks>X:\Apps\Appsscript\CabotoXL\Rev12288\Workbooks</Workbooks>
      <HelpFile>X:\Apps\Appsscript\CabotoXL\Rev12288\Docs</HelpFile>
      <UserConfigurationFile>X:\Apps\Appsscript\CabotoXL\Users\02 users.xml</UserConfigurationFile>
      <FunctionMetadata>X:\Apps\Appsscript\CabotoXL\Rev12288\metadata</FunctionMetadata>
      <AddinList>
        <Addin>ObjectHandler-xll-vc80-mt-0_9_0.xll</Addin>
        <Addin>QuantLibXLDynamic-vc80-mt-0_9_0.xll</Addin>
        <Addin>saohxll-vc80-mt-0_1_9.xll</Addin>
      </AddinList>
      <StartupActions>
        <YieldCurveBootstrap>false</YieldCurveBootstrap>
        <CapVolBootstrap>false</CapVolBootstrap>
        <SwapSmileBootstrap>false</SwapSmileBootstrap>
        <CalibrateCMS>false</CalibrateCMS>
        <FitCMS>false</FitCMS>
        <IndexesTimeSeries>false</IndexesTimeSeries>
        <LoadBonds>false</LoadBonds>
        <MainChecks>false</MainChecks>
        <StaticData>false</StaticData>
        <SetEvaluationDate>false</SetEvaluationDate>
        <EvaluationDate>0</EvaluationDate>
        <InitSource>Excel</InitSource>
      </StartupActions>
    </Environment>

    <Environment name="03 Testing">
      <Framework>X:\Apps\Appsscript\CabotoXL\Rev12288\framework\QuantLibXL.xla</Framework>
      <FrameworkVersion>9</FrameworkVersion>
      <Workbooks>X:\Apps\Appsscript\CabotoXL\Rev12288\Workbooks</Workbooks>
      <HelpFile>X:\Apps\Appsscript\CabotoXL\Rev12288\Docs</HelpFile>
      <UserConfigurationFile>X:\Apps\Appsscript\CabotoXL\Users\03 users.xml</UserConfigurationFile>
      <FunctionMetadata>X:\Apps\Appsscript\CabotoXL\Rev12288\metadata</FunctionMetadata>
      <AddinList>
        <Addin>ObjectHandler-xll-vc80-mt-0_9_0.xll</Addin>
        <Addin>QuantLibXLDynamic-vc80-mt-0_9_0.xll</Addin>
        <Addin>saohxll-vc80-mt-0_1_9.xll</Addin>
      </AddinList>
      <StartupActions>
        <YieldCurveBootstrap>true</YieldCurveBootstrap>
        <CapVolBootstrap>false</CapVolBootstrap>
        <SwapSmileBootstrap>false</SwapSmileBootstrap>
        <CalibrateCMS>false</CalibrateCMS>
        <FitCMS>false</FitCMS>
        <IndexesTimeSeries>false</IndexesTimeSeries>
        <LoadBonds>false</LoadBonds>
        <MainChecks>false</MainChecks>
        <StaticData>false</StaticData>
        <SetEvaluationDate>false</SetEvaluationDate>
        <EvaluationDate>0</EvaluationDate>
        <InitSource>Excel</InitSource>
      </StartupActions>
    </Environment>

  </Environments>

</Configuration>

