<Configuration>

  <Environments>
    <Environment name="01 Production">
      <Framework>X:\Offices1\CabotoXL\01 Production\framework\QuantLibXL.xla</Framework>
      <Workbooks>X:\Offices1\CabotoXL\01 Production\Workbooks</Workbooks>
      <HelpFile>X:\Offices1\CabotoXL\01 Production\Docs</HelpFile>
      <AddinDirectory></AddinDirectory>
      <AddinName>QuantLibXL-vc80-mt-s-0_3_14.xll</AddinName>
      <YieldCurveBootstrap>false</YieldCurveBootstrap>
      <LoadMurexYieldCurve>false</LoadMurexYieldCurve>
      <CapVolBootstrap>false</CapVolBootstrap>
      <SwapVolBootstrap>false</SwapVolBootstrap>
      <SwapSmileBootstrap>false</SwapSmileBootstrap>
      <FitCMS>false</FitCMS>
      <IndexesTimeSeries>false</IndexesTimeSeries>
      <LoadBonds>false</LoadBonds>
      <StaticData>false</StaticData>
    </Environment>
    <Environment name="02 Pre-Production">
      <Framework>X:\Offices1\CabotoXL\02 Pre-Production\framework\QuantLibXL.xla</Framework>
      <Workbooks>X:\Offices1\CabotoXL\02 Pre-Production\Workbooks</Workbooks>
      <HelpFile>X:\Offices1\CabotoXL\02 Pre-Production\Docs</HelpFile>
      <AddinDirectory></AddinDirectory>
      <AddinName>QuantLibXL-vc80-mt-s-0_4_0.xll</AddinName>
      <YieldCurveBootstrap>false</YieldCurveBootstrap>
      <LoadMurexYieldCurve>false</LoadMurexYieldCurve>
      <CapVolBootstrap>false</CapVolBootstrap>
      <SwapVolBootstrap>false</SwapVolBootstrap>
      <SwapSmileBootstrap>false</SwapSmileBootstrap>
      <FitCMS>false</FitCMS>
      <IndexesTimeSeries>false</IndexesTimeSeries>
      <LoadBonds>false</LoadBonds>
      <StaticData>false</StaticData>
    </Environment>
    <Environment name="03 Testing">
      <Framework>X:\Offices1\CabotoXL\03 Testing\framework\QuantLibXL.xla</Framework>
      <Workbooks>X:\Offices1\CabotoXL\03 Testing\Workbooks</Workbooks>
      <HelpFile>X:\Offices1\CabotoXL\03 Testing\Docs</HelpFile>
      <AddinDirectory></AddinDirectory>
      <AddinName>QuantLibXL-vc80-mt-s-0_4_0.xll</AddinName>
      <YieldCurveBootstrap>false</YieldCurveBootstrap>
      <LoadMurexYieldCurve>false</LoadMurexYieldCurve>
      <CapVolBootstrap>false</CapVolBootstrap>
      <SwapVolBootstrap>false</SwapVolBootstrap>
      <SwapSmileBootstrap>false</SwapSmileBootstrap>
      <FitCMS>false</FitCMS>
      <IndexesTimeSeries>false</IndexesTimeSeries>
      <LoadBonds>false</LoadBonds>
      <StaticData>false</StaticData>
    </Environment>
  </Environments>

  <Users>
    <!-- external dev team -->
    <User name="erik">
      <serialNumbers>
        <serialNumber>38FF9933</serialNumber>
      </serialNumbers>
    </User>
    <!-- internal dev team -->
    <User name="ametrf1a">
      <serialNumbers>
        <serialNumber>B483FFA4</serialNumber>
        <serialNumber>642B8439</serialNumber>
      </serialNumbers>
    </User>
    <User name="biancm1c">
      <serialNumbers>
        <serialNumber>3880080C</serialNumber>
      </serialNumbers>
    </User>
    <User name="duminc1a">
      <serialNumbers>
        <serialNumber>38D017B1</serialNumber>
      </serialNumbers>
    </User>
    <User name="duvigf1a">
      <serialNumbers>
        <serialNumber>3085B86D</serialNumber>
      </serialNumbers>
    </User>
    <User name="ehlere1e">
      <serialNumbers>
        <serialNumber>ECBE0C9B</serialNumber>
      </serialNumbers>
    </User>
    <User name="facchg1b">
      <serialNumbers>
        <serialNumber>8D2A0B9</serialNumber>
      </serialNumbers>
    </User>
    <User name="fornac1a">
      <serialNumbers>
        <serialNumber>D0079260</serialNumber>
      </serialNumbers>
    </User>
    <User name="manzok1a">
      <serialNumbers>
        <serialNumber>4C6C6028</serialNumber>
      </serialNumbers>
    </User>
    <!-- users -->
    <User name="ingfin1a">
      <serialNumbers>
        <serialNumber>F45200B0</serialNumber>
      </serialNumbers>
    </User>
    <User name="grisar1a">
      <serialNumbers>
        <serialNumber>547E86EE</serialNumber>
      </serialNumbers>
    </User>
    <User name="cleric1a">
      <serialNumbers>
        <serialNumber>6453C5BC</serialNumber>
        <serialNumber>189853C6</serialNumber>
      </serialNumbers>
    </User>
    <User name="denucs1a">
      <serialNumbers>
        <serialNumber>5CF57325</serialNumber>
      </serialNumbers>
    </User>
  </Users>

</Configuration>
