<Config>

  <prefix>oh</prefix>
  <namespaceObjects>ObjectHandler</namespaceObjects>
  <namespaceLibrary>ObjectHandler</namespaceLibrary>
  <libRootDirectory>oh</libRootDirectory>
  <coreCategoryPath>config/categories</coreCategoryPath>
  <coreFunctions>metadata/Functions/</coreFunctions>

</Config>
