<Config>

  <prefix>oh</prefix>
  <namespaceObjects>ObjHandler</namespaceObjects>
  <namespaceLibrary>ObjHandler</namespaceLibrary>
  <libRootDirectory>oh</libRootDirectory>

  <categoryNames>
    <categoryName>demo</categoryName>
    <categoryName>garbagecollection</categoryName>
    <categoryName>logging</categoryName>
    <categoryName>ohutils</categoryName>
    <categoryName>valueobjects</categoryName>
  </categoryNames>

</Config>

